pandas==2.3.2
numpy==2.3.3
scikit-learn==1.7.2
scipy==1.16.2
statsmodels==0.14.5
loguru==0.7.3
pydantic==2.11.9
langchain==0.3.27
langchain-openai==0.3.33
langchain-groq==0.3.8
uv==0.8.19
python-dotenv==1.1.0
sqlalchemy==2.0.43
faker==37.8.0
langgraph==0.6.7
psycopg-binary==3.2.10
psycopg2-binary==2.9.10
streamlit==1.49.1
langgraph-checkpoint-sqlite==2.0.11
aiosqlite==0.21.0